<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/style.css?v=2">
</head>
<body>
    <nav>
        <div class="content-navbar left">
            <div class="icon-logo">
                <span class="mdi--graduation-cap"></span>
            </div>
            
            <div class="text-logo">
                <P>Academic Portal</P>
            </div>
        </div>

        <div class="content-navbar right">
                <p>Support</p>
            </div>
        </div>
    </nav>

    <main class="main-content-index">
        <div class="container-index">

            <div class="branding-section">
                <div class="icon-branding">
                    <span class="fa--university"></span>
                </div>

                <div class="header-text-branding">
                    <P>Selamat Datang Kembali</P>
                </div>

                <div class="text-branding">
                    <P>Silakan pilih peran Anda untuk melanjutkan ke sistem absensi akademik<br> terintegrasi.</P>
                </div>
            </div>

            <div class="role-section">

                <div class="container-role mahasiswa">
                    <div class="content-role">
                        <div class="icon-mahasiswa">
                            <span class="mdi--graduation-cap"></span>
                        </div>
                    </div>

                    <div class="text-section-role">
                        <div class="header-text-role">
                            <P>Masuk sebagai Mahasiswa</P>
                        </div>

                        <div class="text-role">
                            <P>Akses jadwal kuliah, periksa riwayat kehadiran, dan lakukan presensi melalui perangkat Anda.</P>
                        </div>
                    </div>

                    <div class="button-role mahasiswa">
                        <button>
                            <P>Pilih Mahasiswa</P>
                            <span class="ep--right"></span>
                        </button>
                    </div>
                </div>

                <div class="container-role dosen">
                    <div class="content-role">
                        <div class="icon-mahasiswa">
                            <span class="ic--baseline-people"></span>
                        </div>
                    </div>

                    <div class="text-section-role">
                        <div class="header-text-role">
                            <P>Masuk sebagai Mahasiswa</P>
                        </div>

                        <div class="text-role">
                            <P>Akses jadwal kuliah, periksa riwayat kehadiran, dan lakukan presensi melalui perangkat Anda.</P>
                        </div>
                    </div>            
                    
                    <div class="button-role dosen">
                        <button>
                            <P>Pilih Dosen</P>
                            <span class="ep--right"></span>
                        </button>
                    </div>
                </div>

            </div>

            <div class="extra-support">
                <div class="content-extra-support early">
                    <P>Masalah Login?</P>
                </div>

                <div class="content-extra-support last">
                    <P>Pusat Bantuan</P>
                </div>

                <div class="content-extra-support last">
                    <P>Hubungin IT Support</P>
                </div>
            </div>
        </div>
    </main>
</body>
</html>