<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/style.css?v=2">
</head>
<body>
    <nav>
        <div class="content-navbar left">
            <div class="icon-logo">
                <span class="mdi--graduation-cap"></span>
            </div>
            
            <div class="text-logo">
                <P>Academic Portal</P>
            </div>
        </div>

        <div class="content-navbar right">
                <p>Support</p>
            </div>
        </div>
    </nav>
</body>
</html>