*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #F4F4F5;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: inherit;
}

nav{
    border-bottom: 1px solid #C3C5D7;
    width: 100%;
    padding: 20px 24px;
    background-color: #F9F9FF;
    display: flex;
    justify-content: space-between;
}

.content-navbar.left{
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
}

.content-navbar.right{
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    font-weight: bold;
    
}

.icon-logo,
.text-logo{
    display: flex;
    font-size: 20px;
    align-items: center;
    font-weight: bold;
    color: #003FB1;
}

.main-content-index{
    padding: 158px 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        to bottom,
        #dbe3f0 0%,
        #e8edf5 50%,
        #f4f6fb 100%
    );
}

.container-index{

    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.branding-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.icon-branding{
    padding: 16px 16px;
    background-color: #1A56DB;
    border-radius: 12px;
}

.header-text-branding p{
    font-size: 32px;
    font-weight: bold;

}

.text-branding{
    font-size: 16px;
    color: #5C5F60;
    text-align: center;
}

.role-section{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 302px;
}

.container-role{
    padding: 32px;
    background-color: #FFFFFF;
    border: 1px solid #C3C5D7;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-mahasiswa{
    width: 80px;
    height: 80px;
    background-color: #DEE9FD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
}

.text-section-role{
    text-align: center;
    padding-top: 16px;
}

.header-text-role{
    font-weight: bold;
    font-size: 24px;
}

.text-role{
    color: #5C5F60;
    font-size: 14px;
    margin-top: 8px;
}

.button-role{
    width: 100%;
    margin-top: 32px;
}

.button-role.mahasiswa button{
    all: unset;
    width: 100%;
    padding: 8px 0px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 8px;
    background-color: #003FB1;
    color: white;
    font-size: 12px;
    align-items: center;
}

.button-role.dosen button{
    all: unset;
    width: 100%;
    padding: 8px 0px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 8px;
    background-color: #005438;
    color: white;
    font-size: 12px;
    align-items: center;
}

.extra-support{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.content-extra-support{
    font-size: 12px;
    font-weight: 600;
}

.content-extra-support.early{
    color: #5C5F60;
}

.content-extra-support.last{
    color: #003FB1;
}



/*Icon styling*/

.mdi--graduation-cap {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23003fb1' d='M12 3L1 9l11 6l9-4.91V17h2V9M5 13.18v4L12 21l7-3.82v-4L12 17z'/%3E%3C/svg%3E");
}

.fa--university {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 1792'%3E%3Cpath fill='%23fff' d='m960 0l960 384v128h-128q0 26-20.5 45t-48.5 19H197q-28 0-48.5-19T128 512H0V384zM256 640h256v768h128V640h256v768h128V640h256v768h128V640h256v768h59q28 0 48.5 19t20.5 45v64H128v-64q0-26 20.5-45t48.5-19h59zm1595 960q28 0 48.5 19t20.5 45v128H0v-128q0-26 20.5-45t48.5-19z'/%3E%3C/svg%3E");
}

.ep--right {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23fff' d='M754.8 480H160a32 32 0 1 0 0 64h594.8L521.3 777.3a32 32 0 0 0 45.4 45.4l288-288a32 32 0 0 0 0-45.4l-288-288a32 32 0 1 0-45.4 45.4z'/%3E%3C/svg%3E");
}

.ic--baseline-people {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23005438' d='M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5s-3 1.34-3 3s1.34 3 3 3m-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5S5 6.34 5 8s1.34 3 3 3m0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5m8 0c-.29 0-.62.02-.97.05c1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5'/%3E%3C/svg%3E");
}





